%p#notice= notice

%p
  %b Name:
  = @blog.name
%p
  %b Image:
  = @blog.image
%p
  %b Content:
  = @blog.content
%p
  %b Description:
  = @blog.description

= link_to 'Edit', edit_blog_path(@blog)
\|
= link_to 'Back', blogs_path
