%li
  %a{:href => "#{tasklist_path(category.created_at.strftime("%Y"),'Issue-56-Job-Hero-Weekly-'+category.name, category.id)}"}
    %aside{:class => "dates"}= category.created_at.strftime("%b %d")
  %a{:href => "#{tasklist_path(category.created_at.strftime("%Y"),'Issue-56-Job-Hero-Weekly-'+category.name, category.id)}"}
    Job Hero Weekly -
    = category.name
    %h2= category.description